body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}

.mobile-container {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* Inputs & Buttons */
input {
    width: 90%;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #e3effb;
    font-size: 1rem;
}

button {
    padding: 12px 40px;
    border-radius: 8px;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit { background-color: #87ceeb; }
.btn-checkin { background-color: #ccefff; margin-top: 50px;}

/* Specific Text Colors from your Design */
.success-text { color: #44bd32; font-weight: bold; font-size: 1.5rem; }
.token-no { color: #0984e3; font-size: 4rem; margin: 10px 0; }
.wait-note { color: #f1c40f; font-weight: bold; margin-top: 100px; }

/* Selection List */
.member-list { border-top: 1px solid #000; margin-top: 20px; }
.member-item {
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}